<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(pageTitle=#{page.title.addArtista})"> </head>
	<body>
	
		<div th:replace="fragments/base.html :: logo" />
	    
	    <div class="container">
	    	
	    	<div class="bgorange bordered panel">
		    	<h1 class="title" th:text="#{addArtista.formTitle}">Museo degli Uffizi</h1>
		    	
		    	<form th:action="@{/admin/addArtista}" method="POST">
                
		    		<span class="loginFormFieldName" th:text="#{addArtista.nomeArtistico}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${artista.nomeArtistico}" th:attr="placeholder=#{addArtista.hint.nomeArtistico}"><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addArtista.nome}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${artista.nome}" th:attr="placeholder=#{addArtista.hint.nome}" required><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addArtista.cognome}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${artista.cognome}" th:attr="placeholder=#{addArtista.hint.cognome}" required><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addArtista.dataNascita}" />
		    		<input type="date" class="loginFormFieldInput" th:field="${artista.dataNascita}" th:attr="placeholder=#{addArtista.hint.dataNascita}" required><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addArtista.luogoNascita}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${artista.luogoNascita}" th:attr="placeholder=#{addArtista.hint.luogoNascita}" required><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addArtista.dataMorte}" />
		    		<input type="date" class="loginFormFieldInput" th:field="${artista.dataMorte}" th:attr="placeholder=#{addArtista.hint.dataMorte}"><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addArtista.luogoMorte}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${artista.luogoMorte}" th:attr="placeholder=#{addArtista.hint.luogoMorte}"><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addArtista.nazionalita}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${artista.nazionalita}" th:attr="placeholder=#{addArtista.hint.nazionalita}" required><br><br>
		    		
		    		<div class="buttonlist">
						<button type="submit" class="btn" th:text="#{registration.confirm}">Registra</button>
					</div>
					
		    	</form>
	   		</div>
			
			<div th:replace="fragments/base.html :: fondo" />
	    </div>
	    
	</body>
</html>