<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(pageTitle=#{page.title.addOpera})"> </head>
	<body>
	
		<div th:replace="fragments/base.html :: logo" />
	    
	    <div class="container">
	    	
	    	<div class="bgorange bordered panel">
		    	<h1 class="title" th:text="#{addOpera.formTitle}">Museo degli Uffizi</h1>
		    	
		    	<form th:action="@{/admin/addOpera}" method="POST">
                
		    		<span class="loginFormFieldName" th:text="#{addOpera.titolo}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${opera.titolo}" th:attr="placeholder=#{addOpera.hint.titolo}" required><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addOpera.annoRealizzazione}" />
		    		<input type="number" class="loginFormFieldInput" th:field="${opera.annoRealizzazione}" th:attr="placeholder=#{addOpera.hint.annoRealizzazione}" required><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addOpera.descrizione}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${opera.descrizione}" th:attr="placeholder=#{addOpera.hint.descrizione}"><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addOpera.link}" />
		    		<input type="text" class="loginFormFieldInput" th:field="${opera.link}" th:attr="placeholder=#{addOpera.hint.link}" required><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addOpera.collezione}" />
		    		<input type="number" class="loginFormFieldInput" th:field="${opera.collezione}" th:attr="placeholder=#{addOpera.hint.collezione}"><br><br>
		    		
		    		<span class="loginFormFieldName" th:text="#{addOpera.artista}" />
		    		<input type="number" class="loginFormFieldInput" th:field="${opera.artista}" th:attr="placeholder=#{addOpera.hint.artista}" required><br><br>
		    		
		    		<div class="buttonlist">
						<button type="submit" class="btn" th:text="#{registration.confirm}">Registra</button>
					</div>
					
		    	</form>
	   		</div>
			
			<div th:replace="fragments/base.html :: fondo" />
	    </div>
	    
	</body>
</html>