<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(pageTitle=#{page.title.removeCollezione})"> </head>
	<body>
	
		<div th:replace="fragments/base.html :: logo" />
	    
	    <div class="container">
	    	
	    	<div class="bgorange bordered panel">
		    	<h1 class="title" th:text="#{removeCollezione.formTitle}">Museo degli Uffizi</h1>
		    	
		    	<form th:action="@{/admin/removeCollezione}" method="POST">
                
		    		<span class="loginFormFieldName" th:text="#{removeCollezione.id}" />
		    		<input type="text" class="loginFormFieldInput" name="collezione_id" id="collezione_id" th:attr="placeholder=#{removeCollezione.hint.id}" required><br><br>
		    		
		    		<div class="buttonlist">
						<button type="submit" class="btn" th:text="#{elimination.confirm}">Elimina</button>
					</div>
					
		    	</form>
	   		</div>
			
			<div th:replace="fragments/base.html :: fondo" />
	    </div>
	    
	</body>
</html>