<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
	    <div class="pannelloPrincipale">
	    	<h4 th:text="#{error.generic.title}">C'è stato un errore!</h4>
			<a th:href="@{/index}" th:text="#{error.generic.title}">C'è stato un errore!'</a>
	    </div>
	    <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
	</body>
</html>