<!DOCTYPE html>
<html lang="it" xml:lang="it" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(pageTitle=#{page.title.index})"> </head>
	<body>
	
		<div th:replace="fragments/base.html :: logo" />
	    
	    <div class="container">
	    	
	    	<div class="bgorange bordered panel">
		    	<h1 class="title" th:text="#{museum.name}"><u>Museo degli Uffizi</u></h1>
		    	
		    	<div class="buttonlist">
					<a th:href="@{/explore}">
						<button class="btn" th:text="#{index.explore}">Esplora</button>
					</a>
					
					<a th:href="@{/loginCuratori}">
						<button class="btn" th:text="#{index.curatore.login}">Login Curatori</button>
					</a>
				</div>
	   		</div>
			
			<div th:replace="fragments/base.html :: fondo" />
	    </div>
	    
	</body>
</html>