<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.opera})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<div class="bgopera panel" th:if="${opera}" th:object="${opera}">
    		<img class="logo" th:src="@{*{link}}" alt="image">
			<h5 class="titoloOpera" th:text="*{titolo}">titolo</h5>
			<span class="descrizioneOpera" th:text="*{descrizione}">descrizione</span>
   		</div>
    	<div th:unless="${opera}">Questa opera non esiste</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>